<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= lang('site.Create New Account') %></h3>
      </div>
      <div class="panel-body">
          <%= form_for @user,url:user_registration_path do |f| %>

              <div class="form-group">
                  <label class="control-label" for="name"><%= lang('site.Avatar') %></label>
                  <div class="form-group">
                      <img src="<%=@avatar%>" width="100%" />
                  </div>
                  <%=hidden_field_tag 'avatar',@avatar%>
              </div>

              <div class="form-group">
                  <label class="control-label" for="name"><%= lang('site.UserName') %></label>
                  <%=f.text_field :name, class:'form-control',required:true %>
                  <% if @user.errors[:name].present? %>
                    <div style="color: red"><%=@user.errors[:name].first%></div>
                  <% end %>
              </div>

              <div class="form-group {{{ $errors->has('github_name') ? 'has-error' : '' }}}">
                  <label class="control-label" for="github_name">Github Name</label>

                  <%= text_field_tag 'github_name', @name, class:'form-control',readonly:true %>
              </div>

              <div class="form-group {{{ $errors->has('email') ? 'has-error' : '' }}}">
                  <label class="control-label" for="email"><%= lang('site.Email') %></label>
                  <%=select_tag "email", options_for_select(@emails),class:'form-control' %>
                  <% if @user.errors[:email].present? %>
                    <div style="color: red"><%=@user.errors[:email].first%></div>
                  <% end %>

              </div>

              <div class="form-group {{{ $errors->has('password') ? 'has-error' : '' }}}">
                  <label class="control-label" for="password"><%= lang('site.password') %></label>
                   <%=f.password_field :password,class:'form-control',required:true %>
                  <% if @user.errors[:password].present? %>
                    <div style="color: red"><%=@user.errors[:password].first%></div>
                  <% end %>
              </div>

              <%=submit_tag lang('site.Since') ,class:"btn btn-lg btn-success btn-block" %>

              <% end %>

      </div>
    </div>
  </div>
</div>