<% title @node.name %>
<div class="col-md-9 topics-index main-col">
    <div class="panel panel-default">

        <div class="panel-heading">
          <div class="pull-left panel-title list-panel-title"> <%= lang('site.Current Node') %> : <%= @node.name %></div>
          <%= render "_partials/filter" %>
          <div class="clearfix"></div>
        </div>

        <% if @topics.blank? %>
            <div class="panel-body">
                <div class="empty-block"><%= lang('site.Dont have any data Yet ~~') %></div>
            </div>
        <% else %>
            <div class="panel-body remove-padding-horizontal">
                <%= render "_partials/topics" %>
            </div>
            <div class="panel-footer text-right remove-padding-horizontal pager-footer">
                <!-- Pager -->
                <%#= $topics->appends(Request::except('page', '_pjax'))->links(); %>
            <div class="digg_pagination">
              <%= will_paginate @topics,inner_window:1,outer_window:0%>
            </div>

            </div>
        <% end %>

    </div>
</div>

<%= render "layouts/sidebar" %>