<!-- style="display:none" -->
<div id="reply_notice" class="box hidden-in-mobile">
    <ul class="helpblock list">
      <li><%=raw lang('site.publish_typography') %></li>
      <li><%=raw lang('site.publish_markdown') %></li>
      <li><%=raw lang('site.publish_emoji') %></li>
      <li><%=raw lang('site.publish_at_user') %></li>
      <li><%=raw lang('site.publish_image') %></li>
    </ul>
</div>