<div class="meta inline-block" >

  <%=link_to topic.node.name,topic.node,class: "remove-padding-left" %>
  •
  <%=link_to topic.user.name,topic.user,class: "remove-padding-left" %>
  •
  <%= lang('site.at') %> 
  <abbr class="timeago"><%= topic.created_at %></abbr>
  •
  <% if topic.replies_count>0 %>
    <%= lang('site.Last Reply by') %>
    <%= link_to topic.last_reply_user.try(:name),topic.last_reply_user %>
    <%= lang('site.at') %>
    <abbr class="timeago"><%= topic.updated_at %></abbr>
  <% end %>

  <%= "#{topic.view_count}" %>
  <%= lang('site.Reads') %>
  
</div>
<div class="clearfix"></div>