<ul class="list-group row">

  <% @replies.each_with_index do |reply,index| %>
    <li class="list-group-item media" <%= reply.votes_count >= 2 ? 'style="margin-top: 0px; background-color: #fffce9"' : 'style="margin-top: 0px;"' %> >

      <div class="avatar pull-left">
        <%= link_to reply.user do %>
            <%=image_tag(reply.user.avatar,size: "48", alt: reply.user.name, class:"media-object img-thumbnail avatar")%>
        <% end %>
      </div>

      <div class="infos">
        <div class="media-heading meta">
          <%= link_to reply.user.name,reply.user ,class:"remove-padding-left author"%>
          <span> •  </span>
          <abbr class="timeago" ><%= reply.created_at %></abbr>
          <span> •  </span>
          <% floorIndex = reply_floor_from_index(index) %>
          <a name="reply<%=reply.id%>" class="anchor" href="#reply<%=reply.id%>" aria-hidden="true">#<%=floorIndex%></a>
          <span class="operate pull-right">
            <%= link_to toggle_up_vote_reply_path(reply), {remote:true,method: :post} do %>
              <i class="fa fa-thumbs-o-up" style="font-size:14px;"></i> 
              <span id="reply-vote-<%=reply.id%>">
                <%= votes_count(reply.votes_count) %>
              </span>
            <% end %>

            <span>•</span>

            <% if can? :destroy, reply %>
                <%=link_to reply,{method: :delete, data: { confirm: "Are you sure?" }} do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
                <span> •  </span>
            <% end %>
            <a class="fa fa-reply" href="javascript:void(0)" onclick="replyOne('<%= reply.user.name %>');" title="<%= t('site.Reply')%> <%=reply.user.name%>"></a>
          </span>

        </div>

        <div class="media-body markdown-reply content-body">
          <%=raw reply.body %>
        </div>
      </div>

    </li>  
  <% end %>

</ul>