<div class="panel-footer operate">

  <div class="pull-left" style="font-size:15px;">
    <%=link_to url_for_share_to_weibo(topic) do %>
      <i class="fa fa-weibo"></i>
    <% end %>
    <%=link_to url_for_share_to_twitter(topic) do %>
      <i class="fa fa-twitter"></i>
    <% end %>
    <%=link_to url_for_share_to_facebook(topic) do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <%=link_to url_for_share_to_google(topic) do %>
      <i class="fa fa-google-plus"></i>
    <% end %>
  </div>

  <div class="pull-right">

    <%= link_to toggle_attention_topic_path(topic), {method: :post, remote: true, class:active_class(topic.did_attention?(current_user)), id:"topic-attent-button"} do %>
      <i class="glyphicon glyphicon-eye-open"></i> 
      <span>
        <%= topic.did_attention?(current_user)? lang('site.Cancel') : lang('site.Attent') %>
      </span>
    <% end %>

    <%= link_to toggle_favorit_topic_path(topic), {method: :post, remote: true, class:active_class(topic.did_favorit?(current_user)), id:"topic-favorit-button"} do %>
      <i class="glyphicon glyphicon-bookmark"></i> 
      <span>
        <%= topic.did_favorit?(current_user)? lang('site.Cancel') : lang('site.Favorite') %>
      </span>
    <% end %>

    <% if can? :manage, topic %>
      <%= render partial:'topic_oprate_manage',locals:{topic:topic} %>
    <% end %>

    <% if can? :update, topic %>
      <a id="topic-append-button" href="javascript:void(0);" title="<%= lang('site.Append') %>" class="admin" data-toggle="modal" data-target="#append-modal">
        <i class="fa fa-plus"></i>
      </a>

      <a id="topic-edit-button" href="<%= edit_topic_path topic %>" title="<%= lang('site.Edit') %>" class="admin">
        <i class="fa fa-pencil-square-o"></i>
      </a>
    <% end %>

  </div>
  <div class="clearfix"></div>
</div>

<%= render partial:'topic_appden_modal',locals:{topic:topic} %>