<div class="topic_create">

  <div class="col-md-8 main-col">

    <div class="reply-box form box-block">

      <div class="alert alert-warning">
          <%= lang('site.be_nice') %>
      </div>

      <% if @topic.errors.present? %>
        <%= render partial: "layouts/errors",locals:{errors:@topic.errors.full_messages}  %>
      <% end %>

      <%=form_for @topic do |f| %>

        <div class="form-group">
          <select required class="selectpicker form-control" name="node_id" >
            <option><%= lang('site.Pick a node') %></option>
              <% Node.is_parent.includes(:childs).each do |node|%>
                <optgroup label="<%= node.name %>">
                  <% node.childs.each do |child_node| %>
                  <option value="<%=child_node.id%>" <%='selected' if @topic.node_id == child_node.id %> ><%= child_node.name %></option>
                  <% end %>
                </optgroup>
              <% end %>
          </select>
        </div>

        <div class="form-group">
          <%=f.text_field :title, {placeholder:lang('site.Please write down a topic'), class:'form-control', required:"true" } %>
        </div>

        <%=render "composing_help_block" %>

        <div class="form-group">
           <%=f.text_area :body_original,{'class' => 'form-control',
                                          'rows' => 20,
                                          'style' => "overflow:hidden",
                                          'placeholder' => lang('site.Please using markdown'),
                                          'required'=>"true",
                                          'id' => 'body_original'}
                                            %>
                                                                      
        </div>

        <div class="form-group status-post-submit">
          <%= f.submit lang('site.Publish'),class:'btn btn-primary',id:"topic-create-submit" %>
        </div>

        <div class="box preview markdown-body" id="preview-box" style="display:none;"></div>

      <%end%>

    </div>
  </div>

  <div class="col-md-4 side-bar">

    <div class="panel panel-default corner-radius help-box">
      <div class="panel-heading text-center">
        <h3 class="panel-title"><%= lang('site.This kind of topic is not allowed') %></h3>
      </div>
      <div class="panel-body">
        <ul class="list">
          <li>这里放一些关于论坛的基本说明</li>
          <li>请尽量分享技术相关的话题, 谢绝发布社会, 政治等相关新闻</li>
          <li>这里绝对不讨论任何有关盗版软件、音乐、电影如何获得的问题</li>
          <li>这里绝对不会全文转载任何文章，而只会以链接方式分享</li>
      </div>
    </div>

    <div class="panel panel-default corner-radius help-box">
      <div class="panel-heading text-center">
        <h3 class="panel-title"><%= lang('site.We can benefit from it') %></h3>
      </div>
      <div class="panel-body">
        <ul class="list">
          <li>分享生活见闻, 分享知识</li>
          <li>接触新技术, 讨论技术解决方案</li>
          <li>为自己的创业项目找合伙人, 遇见志同道合的人</li>
          <li>自发线下聚会, 加强社交</li>
          <li>发现更好工作机会</li>
          <li>甚至是开始另一个神奇的开源项目</li>
        </ul>
      </div>
    </div>

  </div>
</div>