<% title lang 'site.My Notifications' %>

<div class="panel panel-default">

    <div class="panel-heading">
      <%= lang('site.My Notifications') %>
    </div>

    <% if @notifications.present? %>
      <div class="panel-body remove-padding-horizontal notification-index">
        <ul class="list-group row">
          <% @notifications.each do |notify| %>
            
           <li class="list-group-item media" style="margin-top: 0px;">
           
            <%if notify.topic.present? %>
              <div class="avatar pull-left">
                <%= link_to notify.from_user do %>
                  <%=image_tag(notify.from_user.avatar,size: "38", alt: notify.from_user.name, class:"media-object img-thumbnail avatar")%>
                <% end %>
              </div>
              
              <div class="infos">

                <div class="media-heading">

                  <%= link_to notify.from_user.name,notify.from_user%>
                  
                  <%=  action_text(notify) %>
                  <%= link_to notify.topic.title.truncate(50),topic_path_with_notify(notify) %>

                  <span class="meta"> • <%= lang('site.at') %> • <span class="timeago"><%= notify.created_at %></span>
                  </span>
                </div>
                <div class="media-body markdown-reply content-body">
                      <%=raw notify.body_digest %>
                </div>
              </div>
            <% else %>
              <div class="deleted text-center"><%= lang('site.Data has been deleted.') %></div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="panel-footer text-right remove-padding-horizontal pager-footer">
        <!-- Pager -->
        <div class="digg_pagination">
          <%= will_paginate @replies,inner_window:1,outer_window:0%>
        </div>
      </div>

    <% else %>

      <div class="panel-body">
        <div class="empty-block"><%= lang('site.You dont have any notice yet!') %></div>
      </div>

    <% end %>
</div>