<% title "#{lang('site.Edit')}" %>

<%= render :layout => 'content_layout', :locals => {basicinfo_class:'hidden-in-mobile'} do %>
<div class="panel panel-default">

  <div class="panel-body ">

    <%=raw display_alert %>

    <%= form_for @user, :html => {:multipart => true} do |f| %>
      
      <div class="form-group">
        <%= image_tag(@user.avatar.try(:thumb)) %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>

      <div class="form-group">
        <%=f.text_field :city,{class: 'form-control', placeholder: lang('site.City')} %>
      </div>

      <div class="form-group">
        <%=f.text_field :company,{class: 'form-control', placeholder: lang('site.Company')} %>
      </div>

      <div class="form-group">
        <%=f.text_field :twitter_account,{class: 'form-control', placeholder: lang('site.twitter_placeholder')} %>
      </div>

      <div class="form-group">
        <%=f.text_field :personal_website,{class: 'form-control', placeholder: lang('site.personal_website_placebolder')} %>
      </div>

      <div class="form-group">
        <%=f.text_area :signature,{class: 'form-control',
                                   rows: 3,
                                   placeholder: lang('site.signature_placeholder')} %>
      </div>

      <div class="form-group">
        <%=f.text_area :introduction,{class: 'form-control',
                                      rows: 3,
                                      placeholder: lang('site.introduction_placeholder')} %>
      </div>

      <div class="form-group status-post-submit">
        <%= f.submit lang('site.Save'), {class: 'btn btn-primary'} %>
      </div>


    <%end%>

  </div>

</div>
<% end %>