<div class="panel panel-default users-index">

  <div class="panel-heading text-center">
    <%= lang('site.Newly Registered User List') %> ( <%= lang('site.Total User') %> <%= @site_stat.user_count %> )
  </div>

  <div class="panel-body">
    <% @users.each do |user| %>
      <div class="col-md-1 remove-padding-right">
        <div class="avatar">
        <%= link_to user do %>
          <%=image_tag(user.avatar,size: "48", alt: user.name, class:"img-thumbnail avatar")%>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
