<% title "#{@user.name} - #{lang('site.Replies')}" %>

<%= render :layout => 'content_layout', :locals => {:title => 'some title'} do %>
<div class="panel panel-default">
    <%= render 'infonav' %>
    <div class="panel-body remove-padding-vertically remove-padding-horizontal">
        <!-- Tab panes -->
        <div class="tab-content">
        
        <%if @replies.present? %>
          <%= render partial:'replies',locals:{replies:@replies} %>

          <!-- Pager -->
          <div class="pull-right" style="margin-right: 12px">
            <%= paginate @replies %>
          </div>

        <%else%>
          <div class="empty-block"><%= lang('site.Dont have any data Yet ~~') %></div>
        <%end%>

      </div>
    </div>
  </div>

<% end %>