<%= nav_bar static: :top do %>

    <%= link_to lang('site.name'), root_path , class:'navbar-brand hidden-in-mobile'%>
    <%= link_to lang('site.name_mobile'), root_path , class:'navbar-brand display-in-mobile'%>

    <div class="navbar-collapse">
      <%= menu_group do %>
          <%= menu_item lang("site.Topics"), root_path %>
          <%= menu_item lang("site.Jobs"), jobs_path %>
          <%= menu_item lang("site.About"), about_path ,class:'hidden-in-mobile'  %>
          <%= menu_item lang("site.Document"), 'http://swiftcn.io/doc/', target:"_blank", class:'hidden-in-mobile' %>
      <% end %>
    
      <%= menu_group :pull => :right do %>
        <%= form_tag "/search",class:'navbar-form navbar-left' do %>
          <%= text_field_tag :keyword,nil,placeholder:lang("site.Search"),class:'form-control search-input mac-style' %>
        <% end %>
        
        <% if user_signed_in? %>
          <%= menu_item nil, notifications_path,class:'text-warning' do %>
            <span class="badge <%=current_user.unread_notification_count>0 ? 'badge-important' : 'badge-fade' %>">
                &nbsp;<i class="fa fa-envelope-o"></i>&nbsp;
                <%=current_user.unread_notification_count>0 ? current_user.unread_notification_count : '' %>
            </span>
          <% end %>

          <%= menu_item nil, user_path(current_user) do %>
            <span >
                &nbsp;<i class="fa fa-github-alt"></i>&nbsp;
                <%=current_user.name%>
            </span>
          <% end %>

          <li class="hidden-in-mobile">
            <%=link_to destroy_user_session_path ,{method:'delete',data: { confirm: "Are you sure?" }} do %>
              <i class="fa fa-sign-out"></i>
              <%= lang('site.Logout') %>
            <% end %>
          </li>

        <% else %>
          <%= menu_item nil, new_user_session_path(some:'some') ,class:'text-warning' do %>
            <span class="badge badge-important">
                &nbsp;<i class="fa fa-envelope-o"></i>&nbsp;1
            </span>
          <% end %>
          <%= menu_item nil, new_user_session_path ,class:'btn btn-info login-btn github-login',id:'login-btn' do %>
            <i class="fa fa-github-alt"></i>
            <%= lang('site.Login')%>
          <% end %>
        <% end %>

      <% end %>

      </div>
<% end %>