<%= nav_bar static: :top do %>

    <%= link_to lang('site.name 2'), root_path , class:'navbar-brand hidden-in-mobile'%>
    <%= link_to lang('site.name_mobile'), root_path , class:'navbar-brand display-in-mobile'%>

    <div class="navbar-collapse">
      <%= menu_group do %>
          <%= menu_item lang("site.Topics"), root_path %>
          <%= menu_item lang("site.Jobs"), login_path %>
          <%= menu_item lang("site.About"), about_path ,class:'hidden-in-mobile'  %>
          <%= menu_item lang("site.Document"), 'http://baidu.com' ,class:'hidden-in-mobile' %>
      <% end %>
    
      <%= menu_group :pull => :right do %>
        <%= form_tag "/search",class:'navbar-form navbar-left' do %>
          <%= text_field_tag :keyword,nil,placeholder:lang("site.Search"),class:'form-control search-input mac-style' %>
        <% end %>
        
        <%= menu_item nil, '/login#some',class:'text-warning' do %>
          <span class="badge badge-important">
              &nbsp;<i class="fa fa-envelope-o"></i>&nbsp;1
              </span>
        <% end %>
        <%= menu_item nil, '/login#',class:'btn btn-info login-btn github-login',id:'login-btn' do %>
          <i class="fa fa-github-alt"></i>
          <%= lang('site.Login')%>
        <% end %>

      <% end %>

      </div>
<% end %>