<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if params[:page].to_i > 1 %>
    <% meta_title = "#{lang('site.which page',page: params[:page].to_i)} - #{lang('site.name')}" %>
  <% else %>
    <% meta_title = lang('site.name') %>
  <% end %>

  <%= display_meta_tags :site => meta_title, :separator=>'-', :reverse => true %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'layouts/config.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body id="body" data-action="<%="#{controller.controller_name}@#{controller.action_name}"%>">
  <div id="wrap">

      <%= content_for(:nav) || render("layouts/nav") %>

      <div class="container">

        <%=raw display_note %>

        <%= yield %>

        <!-- for weixing share-->
        <div style="display: none">
            <img src="/logo-300.jpg" alt="" />
        </div>

      </div>

    </div>

    <div id="footer" class="footer">
      <div class="container small">
        <p class="pull-left">
            <i class="fa fa-cloud"></i> Powered by UCloud | 粤ICP备15084972</a>
        </p>
        <p>
        
        </p>

      </div>
    </div>

</body>
</html>